Visualizer/Visualizer/Debug/
Visualizer/Visualizer/Release/Visualizer.tlog/CL.write.1.tlog
Visualizer/Visualizer/Release/Visualizer.tlog/link.command.1.tlog
Visualizer/Visualizer/Release/
Visualizer/.vs/Visualizer/FileContentIndex/bd856b43-5850-445d-8425-27b9d62f6c86.vsidx
Visualizer/.vs/
.vs/
Visualizer/Debug/assimp-vc143-mt.dll
Visualizer/Debug/assimp-vc143-mtd.dll
